<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="_ui/css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8" />
        <link rel="shortcut icon" href="/icon.png" />
        <link rel="image_src" href="/icon.png" />
        <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
        <meta name="description" content="Shop for Japan: A One-Day Global Local Movement To Benefit Japan
        On March 26th 2011, participating businesses donate a percentage of their one-day revenues to causes supporting disaster relief in Japan." />
        <meta name="keywords" content="Japan, relief efforts, donate, shop for japan, earthquake relief, donate to japan" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="_ui/js/modernizr-1.6.min.js"></script>

        <title>Shop For Japan - Login/Register</title>
    </head>
    <body id="home">
      <div id="wrapper">
        <ul id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="#">List of Businesses</a></li>
          <li class="divider">&nbsp;</li>
          <li><a class="on" href="/login">Sign Up or Login</a></li>
          <li><a href="participant-kit.zip">Download Poster &amp; How-To</a></li>
          <!--<li class="displaynone"><a href="#">Report Donations</a></li>-->
        </ul>
        <div id="login_container">
          <a class="block bottomRight" href="auth/facebook">
            <img src="_ui/img/fb.gif" width="233" height="40" alt="Fb">
          </a>

